ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: false
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: monthly
  skip: []
  submodules: false
repos:
# ----- general formatting -----
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]
    exclude: .*.txt|.*.csv
  - id: end-of-file-fixer
- repo: https://github.com/executablebooks/mdformat
  rev: 1.0.0
  hooks:
  - id: mdformat
    additional_dependencies:
    - mdformat-gfm
    - mdformat-black
    - mdformat-config
  # ----- Python formatting -----
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.7
  hooks:
      # Run ruff linter.
  - id: ruff-check
    args:
    - --quiet
    - --fix
      # Run ruff formatter.
  - id: ruff-format
  # ----- repo maintenance -----
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.15.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']
    exclude: devtools/conda.recipe/meta.yaml      # doesn't play nice with jinja
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: v2.11.1
  hooks:
  - id: pyproject-fmt
- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.24.1
  hooks:
  - id: validate-pyproject
 # ----- CFF checking -----
  # Format and validate CFF. NOTE: pre-commit doesn't recognize CFF as YAML
  # (https://github.com/pre-commit/identify/pull/435), so we may need to
  # specify the prettier hook twice if we want to format other things and avoid
  # a messy regex.
- repo: https://github.com/rbubley/mirrors-prettier
  rev: v3.7.3
  hooks:
  - id: prettier
    files: CITATION.cff
- repo: https://github.com/citation-file-format/cffconvert
  rev: b6045d78aac9e02b039703b030588d54d53262ac
  hooks:
  - id: validate-cff
    args:
    - --verbose
