ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: false
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: monthly
  skip: []
  submodules: false
repos:
# ----- general formatting -----
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]
    exclude: .*.txt|.*.csv
  - id: end-of-file-fixer
- repo: https://github.com/executablebooks/mdformat
  rev: 0.7.22
  hooks:
  - id: mdformat
    additional_dependencies:
    - mdformat-gfm
    - mdformat-black
    - mdformat-config
  # ----- Python formatting -----
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.8
  hooks:
      # Run ruff linter.
  - id: ruff
    args:
    - --quiet
    - --fix
      # Run ruff formatter.
  - id: ruff-format
  # ----- repo maintenance -----
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']
    exclude: devtools/conda.recipe/meta.yaml      # doesn't play nice with jinja
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: v2.5.1
  hooks:
  - id: pyproject-fmt
- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.24.1
  hooks:
  - id: validate-pyproject
