name: pytest

on: [push, pull_request, workflow_dispatch]

jobs:
  list_nox_test_sessions:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.13'
    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
        version: 0.8.0
    - name: install nox
      run: uv pip install nox --system
    - name: list all test sessions
      id: set-matrix
      run: echo "matrix=$(nox -s gha_list -- tests)" >> $GITHUB_OUTPUT
    # save the list into the outputs
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

  run_all_tests:
    name: pytest
    needs: list_nox_test_sessions
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        nox_session: ${{ fromJson(needs.list_nox_test_sessions.outputs.matrix) }}
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.13'
    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
        version: 0.8.0
        enable-cache: true
    - name: install nox
      run: uv pip install nox --system
    - name: run nox test matrix
      run: nox -s "${{ matrix.nox_session }}"
